@import "tailwindcss";
@plugin "daisyui";

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
input::placeholder {
  color:#818181; /* Change this to your desired color */
  opacity: 1; /* Ensures consistent appearance across browsers */
}
input:focus {
  outline: none;
  border:none;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

.dot-wave {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #555453;
  border-radius: 50%;
  animation: wave 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

